<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .navbar{
      text-align: center;
      margin-top: 2%;
    }
    .navbar a:hover{
      font-size: 1.8em;
      font-weight: bolder;
    }

    .navbar a{
      text-decoration: none;
      font-weight: 400;
      color: #ec407a;
      font-size: 1.8em;
      padding-right: 20px;
    }
  </style>
</head>
<body>
<div>
  <nav class="navbar">
    <a routerLink="home">Home</a>
    <a routerLink="about">About</a>
    <a routerLink="todo">Todo</a>
    <a routerLink="apitodo">Api Todo</a>
  </nav>
  <router-outlet></router-outlet>
</div>
</body>
</html>

